@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,800;1,300&display=swap);
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}

body{
background-image: url(../Imagens/img2.jpg);
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
background-size:cover;
}
.p1{
    background-color: #ffffff80;
    width: 550;
    height:100%;
    margin-left: 550px;
    margin-right: 50px;
    display: block;
    justify-content: center;
    align-items: right;
    padding-left: 24px;
}
li{
    margin-top: 7px;
    list-style: disc;
}
button{
    font-size: 16px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: #050505;
    margin-top: 10px;
    cursor: pointer;
    

}
a{
    text-decoration: none;
    color:  rgb(197, 110, 247) ;
}

@media (max-width:760px){
    .fundo{
        padding-right: -20%;
    }
    .p1{
        position: relative;
        width:95%;
        right: 550px;
    }
}